* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 12px;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  background-color: #b8e9ff;
}

.button.is-hidden {
  display: none;
}

.button>.spinner.is-hidden {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 60px;
}

input {
  outline: none;
  appearance: none;
    background-color: none;
    border: 1px solid rgb(255, 255, 255);
    font-size: 14px;
    width: 200px;
    padding: 1px 6px;
    border-radius: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

.button {
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  cursor: pointer;
  height: 30px;
  width: 130px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.btn-primary {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;

  height: 50px;
  width: 150px;

  font-size: 15px;
}

.button:hover,
.button:hover
 {
  box-shadow: rgba(32, 33, 35, 0.3) 0px 2px 3px 1px, rgba(36, 38, 40, 0.15) 1px 3px 7px 3px;
}

.photo-card {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.info {
  display: flex;
  justify-content: space-between;

  padding-left: 10px;
  padding-right: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
}

b {
  font-size: 14px;
  margin-top: 3px;
}
